<div class="actions-destination">
    <div class="action more-action"
         title="More" data-tooltip="More"
         data-i18n="[title]Remove;[data-tooltip]More actions on this destination">
        <div class="icon"></div>
    </div>
</div>
<div class="controls">
    <div class="info edit"            
            title="Edit" data-tooltip="Edit this source's properties"
            data-i18n="[title]Edit;[data-tooltip]Edit this source's properties">
            <% if ( !editName ) { %>
            <span class="name"><%=name%></span>
            <span class="class"><%=classDescription.name%></span>
            <% } else { %>
            <div class="title">
                <input class="inputName" name="inputName" type="text"  placeholder="Name" data-i18n="[placeholder]Name" value="<%=name%>">
            </div>
            <% } %>
    </div>
</div>
<div class="destination-list-bottom"></div>