<div class="iface">
    <div class="name"><%= name %></div>
    <div class="ip"><%= ip %></div>
    <div class="receive"><span class="lbl">Rx:</span><span class="value"><%= iface.rx_rate %></span></div>
    <div class="transfer"><span class="lbl">Tx:</span><span class="value"><%= iface.tx_rate %></span></div>
</div>