<div class="controls">
    <div class="bar-container"><div class="bar"></div></div>
    <div class="info">
        <span class="property-name"><%=label%></span>
        <span class="property-value"><%=value%></span>
    </div>
</div>
<div class="connections"></div>