<div class="controls">
    <div class="icon"></div>
    <div class="actions">
        <% if ( connected ) { %>
            <div class="action edit"
                 title="Edit Mapping" data-tooltip="Edit this control mapping connection"
                 data-i18n="[title]Edit Mapping;[data-tooltip]Edit this control mapping connection">
                <div class="icon"></div>
            </div>
            <div class="action disconnect"
                 title="Disconnect" data-tooltip="Disconnect the source on the left from the destination on the top"
                 data-i18n="[title]Disconnect;[data-tooltip]Disconnect the source on the left from the destination on the top">
                <div class="icon"></div>
            </div>
        <% } else { %>
            <div class="action connect"
                 title="Connect" data-tooltip="Connect the source on the left from the destination on the top"
                 data-i18n="[title]Connect;[data-tooltip]Connect the source on the left from the destination on the top">
                <div class="icon"></div>
            </div>
        <% } %>
    </div>
</div>