<div class="menu source"
     title="Control Sources" data-tooltip="Add a control source from this menu"
     data-i18n="[title]Control Source;[data-tooltip]Add a control source from this menu">
    <div class="button" data-i18n>Sources</div>
</div>

<div class="menu destination properties"
     title="Control Destination Properties" data-tooltip="Add a destination property to be controlled by a source"
     data-i18n="[title]Control Destination Property;[data-tooltip]Add a destination property to be controller by a source">
    <div class="button" data-i18n>Properties</div>
</div>

<div class="filter categories">
    <div class="button" id="categories" data-i18n>Categories</div>
</div>