<div class="menu-bar"></div>
<div class="page-content">
    <div class="matrix">
        <div class="destinations-row">
            <div class="destinations"></div>
        </div>
        <div class="sources-row">
            <div class="sources"></div>
        </div>
    </div>
</div>