<div class="menu-wrapper-flipped">
    <div class="menu-scene"></div>
</div>
<div class="menu-wrapper-nav">
    <div class="menu-matrix"></div>
    <div class="sceneToggle"></div>
</div>
<div class="page-content">
    <div class="matrix-container">
        <div class="matrix-margin"></div>
        <div class="matrix">
            <div class="content-background">
                <div class="activation-wrapper-nav">
                    <div class="sceneActivation"></div>

                </div>
                <div class="destinations-wrapper-nav">
                    <div class="destinations-row">
                        <div class="destinations sink"></div>
                        <div class="destinations contact"></div>
                        <div class="destinations rtp"></div>
                        <div class="destinations dummies"></div>
                    </div>
                </div>
            </div>
            <div class="sources-row">
                <div class="sources items"></div>
                <div class="sources dummies"></div>
            </div>
        </div>
    </div>
    <div class="matrix-empty">
        <div class="title" data-i18n>This board is empty!</div>
        <div class="message" data-i18n>Start by adding a source, a destination, and connecting them together</div>
        <% if ( !disableSourcesMenu && !disableDestinationsMenu ) { %>
        <div class="buttons btn-group">
        <% }; %>
            <% if ( !disableSourcesMenu ) { %>
            <div class="btn btn-info createSource" data-i18n>Create Source</div>
            <% }; %>
            <% if ( !disableDestinationsMenu ) { %>
            <div class="btn btn-info createDestination" data-i18n>Create Destination</div>
            <% }; %>
        <% if ( !disableSourcesMenu && !disableDestinationsMenu ) { %>
        </div>
        <% }; %>
    </div>
</div>