<div class="page-content">
    <fieldset>
        <legend data-i18n>Scenic server</legend>
        <div class="input-group">
            <label data-i18n>Name</label>
            <input type="text" readonly value="<%=config.nameComputer%>">
        </div>
        <div class="input-group">
            <label data-i18n>Version</label>
            <input type="text" readonly value="<%=config.version%>">
        </div>
        <div class="input-group">
            <label data-i18n>Server address</label>
            <input type="text" readonly value="<%=config.host%>">
        </div>
        <div class="input-group">
            <label data-i18n>Server port</label>
            <input type="text" readonly value="<%=config.scenic.port%>">
        </div>
    </fieldset>
    <fieldset>
        <legend data-i18n>SOAP server</legend>
        <div class="input-group">
            <label data-i18n>SOAP port</label>
            <input type="text" readonly value="<%=config.soap.port%>">
        </div>
    </fieldset>
    <fieldset>
        <legend data-i18n>SIP connection</legend>
        <div class="input-group">
            <label data-i18n>Configured SIP port</label>
            <% if ( config.sip.port ) { %>
            <input type="text" readonly value="<%=config.sip.port%>">
            <% } else { %>
            <input type="text" readonly value="Automatic" data-i18n="[value]Automatic">
            <% } %>
        </div>
        <div class="input-group">
            <label data-i18n>SIP port</label>
            <% if ( sip && sip.properties.get('port') ) { %>
            <input type="text" readonly value="<%=sip.properties.get('port').get('value')%>">
            <% } else { %>
            <input type="text" readonly value="No current SIP session" data-i18n="[value]No current SIP session">
            <% } %>
        </div>
    </fieldset>
    <fieldset>
        <legend data-i18n>Authentication</legend>
            <div>
                <label data-i18n>Enable authentification when accessing Scenic remotely </label>
                <input id="checkboxAuth"
                       name="checkboxAuth"
                       class="checkbox <%= authOn ? 'checked' : 'unchecked' %>"
                       type="checkbox"
                       autofocus="autofocus"
                       value="<%=authOn%>"<% if(authOn){ %> checked="checked"<% } %> >
                <label class="checkbox" for="checkboxAuth"></label>
            </div>
            <% if ( authOn ) { %>
                <% if ( haveUser ) { %>
                <button id="resetLogin" class="btn btn-login" data-i18n>Reset password</button>
                <% } else { %>
                    <div class="input-group">
                        <label data-i18n>Create a new password</label>
                        <div>
                            <input id="newPassword" name="newPassword" type="password" placeholder="" data-i18n="[placeholder]New Password">
                            <button id="createLogin" class="btn btn-login">Create password</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
    </fieldset>
</div>