<!--<div class="toggle">-->
    <!--<div class="label">-->
        <!--<label for="toggled" data-i18n="">Toggle</label>-->
    <!--</div>-->
    <!--<div class="sceneToggleCheckbox">-->
        <!--<input id="checkboxToggleScene"-->
               <!--name="checkboxToggleScene"-->
               <!--class="checkbox <%= toggled ? 'checked' : 'unchecked' %>"-->
               <!--type="checkbox"-->
               <!--autofocus="autofocus"-->
               <!--value="<%=toggled%>"<% if(toggled){ %> checked="checked"<% } %> >-->
        <!--&lt;!&ndash;<label class="slider round" for="checkboxToggleScene"></label>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

<% if ( toggled ) { %>
<div class="toggle on"><div class="icon"></div></div>
<% } else { %>
<div class="toggle off"><div class="icon"></div></div>
<% } %>