<% if ( quiddities.length > 0 ) { %>
<% _.each(quiddities, function( item ) { %>
<div class="menu customMenu">
    <div class="buttonProperty <% if ( item.selected ) {%> selected <% } %>" >
        <div class="buttonLabel" id="<%=item.id%>" data-i18n><%=this.scenic.quiddities.get(item.id).get('name')%></div>
        <div class="delete" id="<%=item.id%>"></div>
    </div>
</div>
<% }); %>
<% } %>