<div class="container">
    <div class="close" id="close-inspector">X</div>
    <div class="title"><%=title%></div>
    <div class="chatArea"></div>
    <div class="inputArea">
        <input class="inputMessage" placeholder="Type here..."/>
    </div>
</div>