<div class="sub-menu-categories">
    <div class='overlay'></div>
    <div class="items">
        <% _.each(items, function(item) { %>
        <a  class="category item <%=item.selected%>"  
            data-id="<%=item.category%>" 
            data-i18n><%=item.label%></a>
        <% }); %>
    </div>
</div>

