<thead>
    <tr>
    	<th class="id" data-i18n>id</th>
        <th class="name" data-i18n>Name</th>
        <th class="class" data-i18n>Type</th>
        <th class="category" data-i18n>Category</th>
    </tr>
</thead>
<tbody></tbody>