<div class="login-container">  
    <div class="login-content">
        <div class="logo-login">
            <img src="/assets/images/favicon48.png" title="Scenic"/>
            <h1>Login</h1>
        </div> 
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="form-group">
                <input id="authPassword" name="authPassword" type="password" placeholder="Password" data-i18n="[placeholder]Password">
        </div>
        <div id="authLogin" class="btn btn-info" data-i18n>Login</div>
    </div>
</div>