<% if ( !fullscreen ) { %>
<header class="header">
    <h1 class="logo"><img srcset="/assets/images/scenic-logo@2x.png 2x" src="/assets/images/scenic-logo.png" title="Scenic"/></h1>
</header>
<div class="sidebar">
    <div class="tabs"></div>
    <div class="usage"></div>
    <div class="lang"></div>
</div>
<% } %>
<% if ( !fullscreen ) { %>
<div class="page notfullscreen"></div>
<% } else { %>
<div class="page"></div>
<% } %>
<% if ( !fullscreen ) { %>
<div class="tooltips"></div>
<div class="inspector"></div>
<div class="side-menu"></div>
<div class="preview"></div>
<div class="modal-container"></div>
<div class="chats"></div>
<% } %>