.page {
  .advanced {
    padding: 1em;
    .quiddities-list {
      min-width: 100%;

      table {
        width: 100%;
        border-collapse: collapse;
        td, th {
          padding: 1em;
        }
        thead {
          background-color: $backgroundColorDark;
          th {
            font-weight: bold;
            &.actions {
              text-align: right;
            }
          }
        }
        tbody {
          tr {
            cursor: pointer;
            td {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              &.name {
                font-weight: bold;
                color: $textColorBrighter;
              }
              &.class {
                color: $textColor;
              }
              &.category {
                font-style: italic;
              }
            }

            &:nth-child(2n+1) {
              td {
                background-color: darken($backgroundColor, 1%);
              }
            }
            &:hover {
              td {
                background-color: $backgroundColorDarkish;
              }
            }
          }
        }
      }
    }
  }
}