.page {
  .help {
    padding: 1em;
    .shortcuts-tab {
      min-width: 100%;
      padding: 1em;

      table {
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        border-collapse: collapse;
        font-size: 1.5em;
        td, th {
          padding: 1em;
        }
        thead {
          background-color: $backgroundColorDark;
          th {
            font-weight: bold;
          }
        }
        tbody {
          tr {
            cursor: pointer;
            td {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }

            &:nth-child(2n+1) {
              td {
                background-color: darken($backgroundColor, 1%);
              }
            }
            &:hover {
              td {
                background-color: $backgroundColorDarkish;
              }
            }
          }
        }
      }
    }
  }
}