<dl class="capabilities">
    <dt><span class="property" data-i18n>Path</span></dt>
    <dd><span class="value"><%=path%></span></dd>
    <dt><span class="property" data-i18n>Type</span></dt>
    <dd><span class="value"><%=type%></span></dd>
    <dt><span class="property" data-i18n>Category</span></dt>
    <dd><span class="value"><%=category%></span></dd>
    <dt><span class="property" data-i18n>Byte Rate</span></dt>
    <dd><span class="value"><%=byte_rate%></span></dd>
    <dt><span class="property" data-i18n>Measured Rate</span></dt>
    <dd><span class="value"><%=rate%></span></dd>
    <% _.each( capabilityInfo, function( capability ) { %>
        <dt><span class="property"data-i18n><%= capability.property %></span><span class="type"><%= capability.type %></span></dt>
        <dd><span class="value"><%= capability.value %></span></dd>
    <% } ) %>
</dl>
<textarea class="capabilities-raw" readonly><%=caps%></textarea>