<div class="action" data-i18n="[title]Add a destination;[data-tooltip]Create your first destination" title="Add a destination" data-tooltip="Create your first destination">
    <% if ( !disableDestinationsMenu ) { %>
        <span class="label" data-i18n>Add destination</span>
    <% } %>
</div>