<div class="file-info<% if ( current ) { %> current<% } %>">
    <div class="name">
    <% if ( !editName ) { %>
    	<a class="filename"><%=name%></a>
    <% } else { %>
        <input class="inputName" onfocus="this.value = this.value;" name="inputName" type="text" placeholder="Name" data-i18n="[placeholder]Name" value="<%=name%>">
    <% } %>
    </div>

    <div class="date"><%=(new Date(date)).toLocaleString()%></div>
</div>
<div class="rename"><div class="icon"></div></div>
<div class="export"><div class="icon"></div></div>
<div class="remove"><div class="icon"></div></div>