<div class="numerator">
    <div class="numerator-slider"></div>
    <input id="num-<%=id%>"
           name="num-<%=id%>"
           type="text"
           class="property fraction numerator-input <%=type%>"
           value="<%=numerator%>"
           min="<%=minNumerator%>"
           max="<%=maxNumerator%>"
    <% if ( !writable || disabled ) { %>disabled<% } %>/>
</div>

<div class="over">/</div>

<div class="denominator">
    <div class="denominator-slider"></div>
    <input id="den-<%=id%>"
           name="den-<%=id%>"
           type="text"
           class="property fraction denominator-input <%=type%>"
           value="<%=denominator%>"
           min="<%=minDenominator%>"
           max="<%=maxDenominator%>"
    <% if ( !writable || disabled ) { %>disabled<% } %>/>
</div>