<select id="<%=id%>" name="<%=id%>" class="property select" <% if ( !writable || disabled ) { %>disabled<% } %>>
<% _.each(values, function(option) { %>
    <option value="<%=option.id%>"<% if(option.id == value){ %> selected="selected"<% } %> data-i18n><%=option.label%></option>
<% }); %>
</select>