<div class="actions-destination">
    <div class="action more-action"
         title="More" data-tooltip="More"
         data-i18n="[title]More;[data-tooltip]More actions on this destination">
        <div class="icon"></div>
    </div>
</div>
<div class="controls">
    <div class="info"
            title="Edit" data-tooltip="Edit this source's properties"
            data-i18n="[title]Edit;[data-tooltip]Edit this source's properties">
        <% if ( spin ) { %>
        <span class="name"><%=name%></span>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <% } else { %>
        <span class="name"><%=name%></span>
        <span class="class"><%=uri%></span>
        <% } %>
    </div>
</div>
<div class="destination-list-bottom"></div>