<label for="fileName" data-i18n>File name</label>
<input id="fileName" class="name" type="text"/>
<div id="save" class="btn btn-success confirm" data-i18n>Save</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>