<label for="uri" data-i18n>Contact Address</label>
<input type="text" id="uri" class="uri" data-i18n="[placeholder]Address" placeholder="Address" value="<%=uri%>" autofocus/>
<% if ( error ) { %>
<div class="alert alert-error"><%=error%></div>
<% } %>
<div id="addContact" class="btn btn-success" data-i18n>Add</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>