<label for="name" data-i18n>Contact name</label>
<input type="text" id="name" class="name" data-i18n="[placeholder]Name" placeholder="Name" value="<%=name%>" autofocus/>

<div id="update" class="btn btn-success" data-i18n>Update</div>
<div id="delete" class="btn btn-danger" data-i18n>Remove</div>
<div id="cancel" class="btn cancel" data-i18n>Cancel</div>