$actionsWidth: 150px;
$sipControlsHeight: 48px;

.inspector .sip {
  height: 100%;
  overflow: hidden;
  .content {
    height: 100%;
    overflow: hidden;
    > div {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }

  .sip-actions {
    padding: 1em;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;

    .title-list {
      font-size: 1.5em;
      line-height: 1em;
      font-weight: 100;
      padding-left: 0.6em;
      padding-top: 5px;
      padding-bottom: 10px;
      color: $textColorBright;
    }

    .contact-container {
      display: flex;
      flex-direction: column;
      .contact-list {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }

    .authorized-contacts {
      flex: 1.5 1.5 auto;
      min-height: 80px;
    }
    .unauthorized-contacts {
      flex: 1 1 auto;
      min-height: 80px;
    }

    .contact {
      position: relative;
      cursor: default;
      border-bottom: 1px solid darken($backgroundColorDarker, 5%);
      background: $backgroundColorDarker;

      &:not(.no-hover):hover {
        .contact-actions-wrapper {
          width: $actionsWidth;
        }
        .contact-actions {
          display: block;
        }
        .contact-info {
          margin-left: $actionsWidth;
        }
      }
      .contact-actions-wrapper {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 100%;
        @include transition(width 0.5s);
      }

      .contact-actions {
        position: absolute;
        width: $actionsWidth;
        height: 100%;
        background: darken($backgroundColorDarker, 5%);
        .contact-action:first-child:nth-last-child(2),
        .contact-action:first-child:nth-last-child(2) ~ div {
          width:50%;
        }
        .contact-action:first-child:nth-last-child(3),
        .contact-action:first-child:nth-last-child(3) ~ div {
          width: 33%;
        }
        .contact-action {
          float: left;
          height: 100%;

          .icon {
            width: 100%;
            height: 100%;
          }

          &.add-destination {
            .icon {
              opacity: 0.5;
              background: url('assets/images/icons/plus.png') center no-repeat;
            }
          }

          &.talk-destination {
            .icon {
              opacity: 0.5;
              background: url('assets/images/icons/chat.png') center no-repeat;
            }
          }
          &.disconnected {
            background: gray;
          }
          &.edit-contact {
            cursor: pointer;
            &:hover {
              background: $orange;
            }
            .icon {
              background: url('assets/images/icons/740-gear.png') center center no-repeat;
            }
          }
        }
      }

      &.active {
        .contact-actions {
          .contact-action {
            &.add-destination {
              cursor: pointer;
              &:hover {
                background: $green;
              }
              .icon {
                opacity: 1.0;
              }
            }
            &.talk-destination {
              cursor: pointer;
              &.disconnected:hover {
                background: gray;
              }
              &:hover {
                background: $green;
              }
              .icon {
                opacity: 1.0;
              }
            }
          }
        }
      }
    }
  }
  .contact {
    position: relative;
    cursor: default;
    border-bottom: 1px solid darken($backgroundColorDarker, 5%);

    .contact-info {
      width: 100%;
      padding: 0.75em 1em;
      overflow: hidden;
      @include transition(margin-left 0.5s);

      .contact-name {
        float: left;
        font-size: 1.25em;
        color: $textColorBrighter;
      }
      .contact-uri {
        float: right;
        color: $textColorSubtle;
      }
      .contact-status {
        float: left;
        clear: left;
        margin-right: 0.5em;
        color: $textColor;
        text-transform: uppercase;
      }
      .contact-status-text {
        float: left;
        color: $textColorSubtle;
      }
    }
  }

  .self {
    flex: 0 0 auto;
    background-color: $backgroundColorDarkish;
    .contact {
      border-top: 1px solid darken($backgroundColorDarker, 5%);
      //border-bottom: 3px solid darken($backgroundColorDarker, 5%);
      .contact-info {
        padding-top: 0;
        .checkbox-block {
          position: absolute;
          left: 200px;
          top: 5px;
          display:flex;
          flex-direction: row;

          .checkbox-title{
            width: 35px;
            padding-right: 3px;
          }
          input[type=checkbox] {
            position:relative;
            width:0px;
            display: none;

          }
        }

        .contact-name {
          width: 210px;
          font-size: 1.5em;
          background: none;
          margin: 0;
          padding: 0;
          &:focus {
            border: none;
          }
        }
        .contact-status-text {
          height: 2em;
          font-size: 1em;
        }
      }
      .status-list {
        position: absolute;
        background: $backgroundColorDarkish;
        top: 50px;
        left: 12px;
        z-index: 1;
        @include box-shadow(0px 0px 6px #000);
        li {
          padding: 1em;
          &:hover {
            &.available {
              background-color: $green;
              color: $textColorDark;
            }
            &.busy {
              background-color: $orange;
              color: $textColorDark;
            }
            &.away {
              background-color: $red;
              color: $textColorDark;
            }
            &.offline {
              background-color: darken($backgroundColor, 15%);
            }
          }
        }
      }
    }
  }


  .contact-group {
    flex: 0 0 auto;
    background-color: $backgroundColorDarkish;
    border-top: 1px solid darken($backgroundColorDarker, 5%);

    .contact-info {
      width: 100%;
      padding: 1em 2em;
      overflow: hidden;

      .contact-name {
        float: left;
        font-size: 1.25em;
        padding-bottom: 0.3em;
        color: $textColorBrighter;
      }
      .contact-uri {
        float: right;
        color: $textColorSubtle;
      }
      .contact-status {
        float: left;
        clear: left;
        margin-right: 0.5em;
        text-transform: uppercase;
      }
      .contact-status-text {
        float: left;
        color: $textColorSubtle;
      }
    }
  }

  .selected {
    background-color: $backgroundColorLight;
  }

  .controls {
    flex: 0 0 auto;
    overflow: hidden;
    margin-bottom: 0;
    .actions {
      .action {
        position: relative;
        height: $sipControlsHeight;
        padding: 1em;
        border-top: 1px solid darken($backgroundColorDarker, 2.5%);
        .icon {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 50%;
          margin-top: -16px;
        }
        .label {
          font-size: 1.5em;
          left: 48px;
          top: 16px;
          position: absolute;
          color: $textColorBrighter;
        }
        &:hover {
          .label {

          }
        }
        &.add {
          cursor: pointer;
          &:hover {
            background: $green;
          }
          .icon {
            background: url('assets/images/icons/plus.png') center no-repeat;
          }
        }
        &.create {
          cursor: pointer;
          &:hover {
            background: $green;
          }
          .icon {
            background: url('assets/images/icons/plus.png') center no-repeat;
          }
        }
        &.group {
          cursor: pointer;
          &:hover {
            background: $green;
          }
          .icon {
            background: url('assets/images/icons/chat-group.png') center no-repeat;
          }
        }
        &.logout {
          cursor: pointer;
          &:hover {
            background: $red;
          }
          .icon {
            background: url('assets/images/icons/x.png') center no-repeat;
          }
        }
        &.close {
          cursor: pointer;
          &:hover {
            background: $red;
          }
          .icon {
            background: url('assets/images/icons/x.png') center no-repeat;
          }
        }
      }
    }
  }

}

.contact {
  .contact-info {
    border-left: 3px solid;
  }

  //TODO: Why both? Enum says available but tree says online
  &.available, &.online {
    .contact-info {
      border-left-color: $green;
    }
  }

  &.busy {
    .contact-info {
      border-left-color: $orange;
    }
  }

  &.away {
    .contact-info {
      border-left-color: $red;
    }
  }

  &.offline {
    .contact-info {
      border-left-color: darken($backgroundColor, 15%);
    }
  }
}