fieldset {
  position: relative;
  margin: 1em;
}

legend {
  font-size: 2em;
  font-weight: 300;
  color: $textColorBrighter;
  border-bottom: 1px solid $textColorSubtle;
  line-height: 2em;
  display: block;
  width: 100%;
  margin-bottom: 1em;
}

input[type=checkbox] {
  //display: none;
  opacity: 0; // we need keyboard focus to work
  position: absolute;
  &:focus + label {
    border: lighten($backgroundColorDark, 15%) solid 1px;
  }
  &.checked + label {
    background: $green;
    text-align: left;
    box-shadow: inset 0 0 1px darken($green, 25%);
    text-shadow: 1px 1px 0px darken($green, 10%);
    &:after {
      content: "ON";
    }
    &:before {
      right: 2px;
      left: inherit;
      box-shadow: 0 0 1px darken($green, 25%);
    }
  }
}

label.checkbox {
  display: inline-block;
  padding: 6px 10px;
  cursor: pointer;
  background: $red;
  box-shadow: inset 0 0 1px darken($red, 25%);
  text-shadow: 1px 1px 0px darken($red, 10%);
  position: relative;
  @include border-radius(5px);
  color: $textColorBrighter;
  width: 55px;
  text-align: right;
  @include transition(0.5s);

  &:after {
    content: "OFF";
    font-size: 12px;
  }

  &:before {
    content: " ";
    position: absolute;
    background: $textColorBrighter;
    top: 2px;
    //z-index: 99999;
    left: 2px;
    width: 15px;
    color: $textColorBrighter;
    height: 20px;
    @include border-radius(4px);
    @include transition(0.2s);
    box-shadow: 0 0 1px darken($red, 25%);
  }
}

select, input, textarea {
  font-family: $font-family;
}

select {
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 3px;
  border: lighten($backgroundColorDark, 10%) 1px solid;
  background: $backgroundColorDark;
  color: $textColor;
  font-size: 14px;
  padding: 8px;
  height: 2.5em;
  option {
    background: $backgroundColor;
  }
}

textarea {
  font-size: 1.5em;
  background: $backgroundColorDark;
  color: $textColor;
  border: none;
}

input[type=number],
input[type=text],
input[type=password] {
  font-size: 1.5em;
  outline: none;
  padding: 0 5px;
  margin: 5px 0 10px 0;
  @include border-radius(5px);
  height: 35px;
  width: 100%;
  background: $backgroundColorDark;
  border: none;
  color: $textColorBrighter;
  &:focus {
    border: lighten($backgroundColorDark, 15%) solid 1px;
  }
}
input[id=newPassword] {
  font-size: 1.5em;
  outline: none;
  padding: 0 5px;
  margin: 5px 0 10px 0;
  @include border-radius(5px);
  height: 35px;
  width: 25%;
  background: $backgroundColorDark;
  border: none;
  color: $textColorBrighter;
  &:focus {
    border: lighten($backgroundColorDark, 15%) solid 1px;
  }
}
input[type=submit] {
  background: darken($backgroundColor, 15%);
  color: $textColorBrighter;
  border: none;
  @include border-radius(3px);
  width: 200px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

label {
  font-size: 1.4em;
}
.fieldCheckbox{
    position: absolute;
    right: 2em;
    margin-top: -34px;
}
.infoCheckbox{
  margin-top: 10px;
  margin-bottom: 14px;
}
.input-group {
  position: relative;
}

.btn {
  display: block;
  margin: 0.5em 0;
  padding: 2em;
  color: $textColorBrighter;
  text-shadow: 1px 1px 0 darken($backgroundColorDark, 10%);
  font-size: 1.25em;
  text-align: center;
  border-radius: 6px;
  background: $backgroundColorDark;
  border: lighten($backgroundColorDark, 2.5%) 1px solid;
  cursor: pointer;
  &:hover {
    background: $backgroundColor;
  }
  &:active {
    background: $backgroundColorLight;
  }

  &.btn-danger {
    background: $red;
    text-shadow: 1px 1px 0px darken($red, 10%);
    border: lighten($red, 10%) 1px solid;
    &:hover {
      background: lighten($red, 5%);
    }
    &:active {
      background: lighten($red, 15%);
    }
    &:focus {
      background: lighten($red, 5%);
    }
  }

  &.btn-warning {
    background: $orange;
    text-shadow: 1px 1px 0px darken($orange, 10%);
    border: lighten($orange, 10%) 1px solid;
    &:hover {
      background: lighten($orange, 5%);
    }
    &:active {
      background: lighten($orange, 15%);
    }
    &:focus {
      background: lighten($orange, 5%);
    }
  }

  &.btn-info {
    background: $blue;
    text-shadow: 1px 1px 0px darken($blue, 10%);
    border: lighten($blue, 10%) 1px solid;
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: lighten($blue, 15%);
    }
    &:focus {
      background: lighten($blue, 5%);
    }
  }

  &.btn-login {
    background: $blue;
    padding: 1em;
    text-shadow: 1px 1px 0px darken($blue, 10%);
    border: lighten($blue, 10%) 1px solid;
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: lighten($blue, 15%);
    }
    &:focus {
      background: lighten($blue, 5%);
    }
  }

  &.btn-success {
    background: $green;
    text-shadow: 1px 1px 0px darken($green, 10%);
    border: lighten($green, 10%) 1px solid;
    &:hover {
      background: lighten($green, 5%);
    }
    &:active {
      background: lighten($green, 15%);
    }
    &:focus {
      background: lighten($green, 5%);
    }
  }
}

.btn-group {
  .btn {
    margin: 0 0 10px 0;
    border-radius: 0;
    float: left;
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:last-child) {
      margin-right: 1px;
    }
  }
}

.ui-slider {
  background: $backgroundColorDarkish;
  float: left;
  height: 24px;
  @include border-radius(5px);
  .ui-slider-range {
    background: $blue;
    @include border-radius(5px);
    &:hover {
      background: lighten($blue, 5%);
    }
    &:active {
      background: lighten($blue, 15%);;
    }
  }
  .ui-slider-handle {
    display: none;
  }
}

.ui-selectmenu-button {
  height: 24px;
  font-size: 1.5em;
  background-color: $backgroundColorDarkish;
  &.ui-corner-all {
    @include border-radius(5px);
  }
  &.ui-corner-top {
    @include border-radius(5px 5px 0 0);
  }
  &:focus {
    border: lighten($backgroundColorDark, 15%) solid 1px;
  }
  span.ui-selectmenu-text {
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    width: 100%;
    padding-right: 40px;
  }
  span.ui-icon {
    top: 50%;
    margin-top: -3px;
  }
  .ui-icon-triangle-1-s {
    width: 23px;
    height: 7px;
    background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
  }
}

.ui-menu {
  background-color: $backgroundColorDarkish;
  @include border-radius(0 0 5px 5px);
  .ui-menu-item {
    border-top: 1px solid $backgroundColorDarker;
    .ui-menu-item-wrapper {
      padding: .85em 1.5em; // Touch friendlier
      //padding: 0.5em 1em 0.5em 0.5em;
      font-size: 1.5em;
      &.ui-state-focus, &.ui-state-active {
        margin: 0;
        color: $textColorDark;
        background-color: $blue;
      }
    }
  }
}