.header {
  position: absolute; // Was fixed
  top: $sessionsHeight;
  left: 70px;
  z-index: 20;

  .logo {
    position: absolute;
    left: -$sidebarWidth;
    top: 10px;
    width: $sidebarWidth;
    display: flex;
    justify-content: center;
  }

}