$inspectorHeaderHeight: 60px;

.inspector {
  position: absolute;
  top: 0;
  bottom: 0;
  right: $sideMenuWidth;
  width: 0;
  color: $textColor;
  overflow: hidden;

  .inspector-closed & {
    width: 0;
    transition: width 0.25s ease-in;
  }

  .inspector-opened & {
    width: $inspectorWidth;
    transition: width 0.25s ease-out;
  }

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .panel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $inspectorWidth;
    z-index: 20;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;

    background-color: $backgroundColorDarker;

    .empty.message {
      font-size: 2em;
      color: $textColorBrighter;
      font-weight: 300;
      top: 45%;
      position: absolute;
    }

    .dialog {
      padding: 1.5em;

      label {
        display: block;
        padding-top: 0.5em;
        padding-bottom: 1em;
      }
    }

    .panel {
      .title:not(:empty) {
        padding: 0.5em;
        font-size: 2em;
        color: $textColorBrighter;
        line-height: 1.25em;
        display: flex;
        height: 60px;
        align-items: center;
        flex-direction: row;
        height: $inspectorHeaderHeight;
        background: $backgroundColorDarkish;
        border-left: 1px solid $backgroundColorDarker;

      }
      .rename {
        height: 60px;
        width: 40px;
        &:hover {
          border-left: 1px solid $backgroundColorDarker;
          background-color: $backgroundColorDarker;
        }
        .icon {
          background: url('assets/images/icons/830-pencil.png') no-repeat;
          width: 100%;
          height: 100%;
          background-position: center;
        }
      }
      .expand {
        width: 40px;
        &:hover {
          border-left: 1px solid $backgroundColorDarker;
          background-color: $backgroundColorDarker;
        }
        .icon {
          background: url('assets/images/icons/property_expand_small.png') no-repeat;
          width: 100%;
          height: 100%;
          background-position: center;
        }
      }
      .edit {
        width: 300px;
        z-index: 10;
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        background-color: $backgroundColorDarkish;
        input {
          width :75%;
          font-size: 1.2em;
          margin: 0;
        }
      }

      &.info, &.settings {
        flex: 1 1 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .content {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;

          > div {
            // edit-quiddity manages its padding on a per-field basis
            &:not(.edit-quiddity) {
              padding: 1.5em;
            }
            &.edit-quiddity {
              display: flex;
              flex-direction: column;
              flex: 1 1;

              .data-container {
                overflow: auto;
                flex: 1 1;
                display: flex;
                flex-direction: column; 
              }
              .classInfo {
                z-index: 10;
                width: 300px;
                //height: 140px;
                padding: 1em;
                background-color: darken($backgroundColorDarker,5%);
                display: flex;
                flex: 0 0 auto;
                flex-direction: column;
                justify-content: space-around;
                .className {
                  float: left;
                  font-size: 3em;
                  line-height: 1em;
                  font-weight: 100;
                  color: $textColorBright;
                }
                .classCategory {
                  float: right;
                  line-height: 3em;
                  font-style: italic;
                }
                .classDescription {
                  font-size: 1.25em;
                  font-weight: 300;
                  clear: both;
                  padding-top: 0.5em;
                }
              }
            }
            > .description {
              margin-bottom: 1em;
              font-size: 1.25em;
              font-weight: 300;
              font-style: italic;
            }
          }

          > div > .description {
            margin-bottom: 1em;
            font-size: 1.25em;
            font-weight: 300;
            font-style: italic;
          }
        }

        .shmdata-info {
          .name {
            margin-bottom: 1em;
          }
          .capabilities {
            dt {
              margin-top: 20px;
            }
            dd {
              margin-top: 5px;
            }
            font-size: 1.5em;
            font-style: bold;
            .property {
              padding-right: 1em;
              padding-bottom: 0.25em;
              padding-top: 0.5em;
              color: $textColorBright;
            }
            .type {
              color: $textColorSubtle;
            }
            .value {
              overflow-y:scroll;
              padding-left: 1em;
              color: $textColor;
            }
          }

          .capabilities-raw {
            width: 100%;
            margin-top: 1em;
            height: 100px;
          }
        }
      }

      &.sip {

        .login {
          padding: 2em;
          color: $textColor;
        }

        .connecting {
          font-size: 2em;
          color: $textColorBrighter;
          font-weight: 300;
          top: 45%;
          position: absolute;
        }
      }

      &.files {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .content {
          flex: 1 1 auto;
          overflow: auto;
        }

        .file-open {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .fileLoader
          {
              display:none;
          }
            
          .import {
            cursor: default;
            align-self: flex-end;
            flex-direction: column;
            align-items: center;
            display: flex; 
            padding-top: 64px;
            padding-right: 64px;
            .icon {
              &:hover {
                border-left: 1px solid $backgroundColorDarker;
                background-color: $blue;
                opacity: 1;
              }
              justify-content: center;
              width: 58px;
              height: 54px;
              opacity: 0.7;
              background: url('assets/images/icons/266-upload@2x.png') no-repeat center;
              padding: 2em;
              color: #d1d1d1;
              text-shadow: 1px 1px 0 #1a1a1a;
              font-size: 1.25em;
              border-radius: 6px;
              background-color: #333333;
              border: #3a3a3a 1px solid;
              cursor: pointer;
            }
            .titleImport {
              font-size: 2em;
              line-height: 1.25em;
              padding-top: 5px;
            }
          }

          .files {
            .file {
              position: relative;
              padding: 1em;
              overflow: hidden;
              &:hover {
                background: $blue;
                .file-info {
                  .name,
                  .date {
                    color: $textColorDark;
                  }
                }
              }
              .file-info {
                float: left;
                margin-right: 1em;
                width: 75%;
                cursor: pointer;
                .name {
                  font-size: 1.5em;
                  margin-bottom: 0.5em;
                  a {
                    cursor: pointer;
                  }
                }
                .date {
                  color: $textColorSubtle;
                  cursor: default;
                }
              }
              input {
                width :75%;
                margin: 0;
              }
              .remove {
                cursor: default;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                &:hover {
                  border-left: 1px solid $backgroundColorDarker;
                  background-color: $red;
                }
                .icon {
                  position: absolute;
                  top: 50%;
                  margin-top: -7px;
                  right: 12px;
                  width: 14px;
                  height: 14px;
                  background: url('assets/images/icons/x-small.png') no-repeat;
                }
              }
              .rename {
                cursor: default;
                height: 100%;
                position: absolute;
                right: 80px;
                float:right;
                display: block;
                top: 0;
                width: 40px;
                &:hover {
                  border-left: 1px solid $backgroundColorDarker;
                  background-color: $backgroundColorDarker;
                }
                .icon {
                  position: absolute;
                  top: 50%;
                  margin-top: -7px;
                  right: 12px;
                  width: 14px;
                  height: 14px;
                  background: url('assets/images/icons/830-pencil.png') no-repeat;
                }
              }
              .export {
                cursor: default;
                height: 100%;
                position: absolute;
                right: 40px;
                float:right;
                display: block;
                top: 0;
                width: 40px;
                &:hover {
                  border-left: 1px solid $backgroundColorDarker;
                  background-color: $backgroundColorDarker;
                }
                .icon {
                  position: absolute;
                  opacity: 0.7;
                  top: 50%;
                  margin-top: -7px;
                  right: 12px;
                  width: 15px;
                  height: 14px;
                  background: url('assets/images/icons/265-download.png') no-repeat;
                }
              }
            }
          }
        }
        .file-save-as {
          padding: 2em;
        }
      }
    }
  }
}
.inspector {
  .properties, .methods {
    @include clearfix;
    &:not(:empty) {
      border-bottom: 1px solid lighten($backgroundColorDarker, 5%);
    }
  }

  .group {
    padding: 1em 1em 0 1em;
    .group-header {
      cursor: pointer;
      font-size: 1.5em;
      line-height: 2em;
      margin-bottom: 0.75em;
    }
    .properties {
      overflow: hidden;
      background-color: $backgroundColorDark;
      margin-left: -1em;
      margin-right: -1em;
      border-left: 0.5em solid $textColorSubtler;
    }
    &.expanded {
      .group-header {
        background: url('assets/images/icons/arrow-up-small.png') no-repeat right center;
      }
      .properties {
        display: block;
      }
    }
    &.collapsed {
      .group-header {
        background: url('assets/images/icons/arrow-down-small.png') no-repeat right center;
      }
      .properties {
        display: none;
      }
    }
    .disabled > & {
      opacity: 0.5;
    }
  }

  .property-form,
  .method {
    padding: 1em;
    &.disabled {
      opacity: 0.5;
    }
  }
  .property-started {
    margin-top: 1em;
  }
  .group,
  .property-form,
  .property-started,
  .method {
    position: relative;
    @include clearfix;
    //padding-bottom: 1em;
    &:not(:last-child) {
      border-bottom: 1px solid lighten($backgroundColorDarker, 5%);
    }
    label {
      font-size: 1.25em;
    }
    .description {
      width: 207px;
      margin-bottom: 0.5em;
      color: $textColorSubtleInsp;
    }

    &.bool {
      .info {
        float: left;
        margin-top: 4px;
      }
      .field {
        position: absolute;
        top: 50%;
        right: 1em;
        margin-top: -14px;
      }
    }

    &.number, &.fraction {
      .ui-slider {
        width: 65%;
        @include border-radius(5px 0 0 5px);
        .ui-slider-range {
          @include border-radius(5px 0 0 5px);
        }
      }
      input {
        float: left;
        width: 35%;
        border-left: 1px solid $backgroundColorDarker;
        text-align: center;
        @include border-radius(0 5px 5px 0);
        &:focus {
          border: lighten($backgroundColorDark, 15%) solid 1px;
        }
      }
    }

    &.fraction {
      .field {
        position: relative;
        height: 5em;
        .numerator {
          width: 45%;
          top: 0;
          left: 0;
          position: absolute;
        }
        .over {
          font-weight: 100;
          font-size: 6em;
          line-height: 0.75em;
          text-align: center;
        }
        .denominator {
          width: 45%;
          right: 0;
          bottom: 0;
          position: absolute;
        }
      }
    }

    &.string {
      input {
        float: left;
        width: 65%;
        border-right: 1px solid $backgroundColorDarker;
        @include border-radius(5px 0 0 5px);
        &:focus {
          border: lighten($backgroundColorDark, 15%) solid 1px;
        }
      }
      .btn {
        margin: 0;
        float: left;
        width: 35%;
        padding: 4px;
        height: 24px;
        @include border-radius(0 5px 5px 0);
      }
      &.readonly {
        input {
          width: 100%;
          @include border-radius(5px);
        }
      }
    }

    &.color {
      input {
        float: left;
        width: 105px;
        height: 28px;
        border-right: 1px solid $backgroundColorDarker;
        @include border-radius(5px 5px 5px 5px);
        &:focus {
          border: lighten($backgroundColorDark, 15%) solid 1px;
        }
      }
      .btn {
        margin: 0;
        float: left;
        width: 35%;
        padding: 4px;
        height: 24px;
        @include border-radius(0 5px 5px 0);
      }
      &.readonly {
        input {
          width: 100%;
          @include border-radius(5px);
        }
      }
      .minicolors-panel {
        position: relative;
        top: 30px;
        margin-bottom: 30px;
        background: $backgroundColorDarker;
        border: solid 1px $backgroundColorDarker;
      }
      .minicolors-theme-default .minicolors-swatch {
        top: 5px;
        left: 5px;
        width: 18px;
        height: 18px;
      }

      .minicolors-theme-default.minicolors-position-right .minicolors-swatch {
        left: auto;
        right: 5px;
      }
    }

    input {
      height: 24px;
      margin: 0;
    }
  }

  .method {
    .argument {
      margin-bottom: 1px;
      .info {
        margin: 0;
        padding: 0.25em 0.5em 0.25em 0.5em;
        color: $textColor;
        background-color: $backgroundColorDarkish;
        border-bottom: 1px solid $backgroundColorDarker;
        .name {
          font-weight: 600;
          color: $textColorBright;
        }
        .type {
          font-style: italic;
          color: $textColorSubtle;
        }
        .description {
          color: $textColor;
        }
      }
      &:first-child {
        .info {
          @include border-radius(5px 5px 0 0);
        }
      }

      input {
        @include border-radius(0);
      }
    }
    .btn.invoke {
      margin: 0;
      @include border-radius(0 0 5px 5px);
      &.no-args {
        @include border-radius(5px);
      }
    }
  }

  .tree {
    display: flex;
    flex-direction: column;
    background-color: darken($backgroundColorDarker, 2.5%);
    h2 {
      padding: 1.5rem;
    }
    .tree-data {
      font-size: 1.25em;
      line-height: 1.5em;
      padding: 1.5rem;
    }
  }
}
// Overflow for the select dropdown
.ui-menu.overflow {
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}