$langHeight: 32px;

.lang {
  flex: 0 0 auto;
  height: $langHeight;

  .menu {
    height: 100%;
    color: $textColorBrighter;
    display: flex;
    flex-direction: row;
    .lang-btn {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      background: $backgroundColorDarkish;
      color: $textColorBrighter;
      border: none;
      cursor: pointer;
      &.active {
        color: $textColorDark;
        background-color: $red;
        cursor: default;
      }
      &:not(.active):hover {
        background: $backgroundColorDarker;
      }
    }
  }
}