.login-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-content {
    width: 400px;
    height: 600px;
    
    position:absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.logo-login {
    display:table;
    padding-bottom: 10px;
    margin-left:-5px;
}

h1 {
    vertical-align: middle;
    display: table-cell;
}