@import "~compass-mixins/lib/compass/css3/filter";
@import "~compass-mixins/lib/compass/css3/transition";

// Global modal
#modal {
  opacity: 0;
  @include transition(opacity 0.5s);
}

.modal {
  position: absolute; // Was fixed
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.5);
  .dialog {
    width: 50%;
    top: 25%;
    background: rgba(0, 0, 0, 0.75);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    @include border-radius(6px);
    @include box-shadow(0 0 12px rgba(0,0,0,0.5));
    overflow: hidden;
    .message {
      color: $textColor;
      font-size: 1.5em;
      line-height: 1.5em;
      padding: 2em 3em 3em 3em;
    }
    .dialog-footer {
      padding-top: 1px;
      background: rgba( 0, 0, 0, 0.75 );
      overflow: hidden;
    }
    .btn-group {
      float: right;
      .btn {
        float: left;
        margin: 0;
        margin-left: 1px;
        padding: 1em 3em;
        font-size: 1.5em;
        border-radius: 0;
        &:last-child {
          @include border-radius(0 0 6px 0);
        }
      }
    }
  }
}

.interface {
  transition: -webkit-filter 0.25s;
}

.blur .interface {
  -webkit-filter: blur(6px);
}