.page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  &.notfullscreen {
    left: $sidebarWidth;
    top: $sessionsHeight;
    right: $inspectorWidth + $sideMenuWidth;
  }

  display: flex;
  flex-direction: column;

  .inspector-closed & {
    &.notfullscreen {
      right: $sideMenuWidth;
    }
    transition: right 0.25s ease-in;
  }
  .inspector-opened & {
    &.notfullscreen {
      right: $inspectorWidth + $sideMenuWidth;
    }
    transition: right 0.25s ease-out;
  }
  .fullscreen {
    cursor: pointer;
    position: absolute;
    right:15px;
    top:65px;
    z-index: 10;
    height: 45px;
    width: 45px;
    &.off{
      background: url('assets/images/icons/1067-enter-fullscreen.png') no-repeat 8px;
      &:hover {
        background-color: $backgroundColorDarkish;
      }
    }
    &.on{
      top:15px;
      background: url('assets/images/icons/1068-exit-fullscreen.png') no-repeat 8px;
      &:hover {
        background-color: $backgroundColorDarkish;
      }
    }
  }
  .switch-title {
    text-align: center;
    font-size: 30px;
    margin: 25px;
    padding-top:200px;
  }

  .switch-scenes {
    display: flex;
    flex-direction: row;
    justify-content:  center;
    flex-wrap: wrap;

    .switch {
      margin: 15px;
      background-color: $backgroundColorLight;
      border: none;
      color: $textColorBright;
      text-transform: uppercase;
      &:hover {
        color: $textColorBrighter;
        background-color: $backgroundColorLighter;
        z-index:0;
      }
      .buttonProperty {
        display: flex;
        flex-direction: row;
        .buttonLabel {
          padding: 40px 40px 40px 40px;
          display: inline-block;
          color: #ccc;
          line-height: 25px;
          cursor: pointer;
          font-size: 20px;
          letter-spacing: 0.08em;
          white-space: nowrap;
        }
      }
    }
    .active {
      background-color: green;
      &:hover {
        background-color: green;
        z-index:1;
      }
    }
  }
  .menu-wrapper-nav {
    display: flex;
    flex-direction: row;
    z-index: 18;
  }
  .menu-matrix {
    flex: 0 0 auto;

    &:empty {
      height: 0;
    }

    > div {
      display: flex;
      flex-direction: row;
      padding: 25px 12px 12px 12px;
    }

    .menu {
      margin-right: 10px;
      font-size: 1.2em;
      background-color: $backgroundColorLight;
      border: none;
      color: $textColorBright;
      text-transform: uppercase;
      &:hover {
        color: $textColorBrighter;
        background-color: $backgroundColorLighter;
      }
      .button {
        padding: 6px 15px 5px 32px;
        display: inline-block;
        color: #ccc;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.08em;
        background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
        white-space: nowrap;
        &:hover {
          color: $textColorBrighter;
          background-color: $backgroundColorLighter;
        }
      }
      .buttonProperty {
        display: flex;
        flex-direction: row;
        .delete {
          padding: 6px 6px 6px 26px;
          margin: 5px;
          background: url('assets/images/icons/x-small.png') no-repeat 8px;
          &:hover {
            background-color: $red;
          }
        }
        .buttonLabel {
          padding: 6px 5px 5px 15px;
          display: inline-block;
          color: #ccc;
          line-height: 25px;
          cursor: pointer;
          font-size: 12px;
          letter-spacing: 0.08em;
          white-space: nowrap;
          &:hover {
            color: $textColorBrighter;
            background-color: $backgroundColorLighter;
          }
        }
      }
      .selected {
        color: $textColorBrighter;
        background-color: $backgroundColorLighter;
      }
      &.destination.rtp {
        .button {
          background: url('assets/images/icons/plus-small.png') no-repeat 8px;
        }
      }
    }

    .filter {
      margin-left: 10px;
      font-size: 1.2em;
      background-color: $backgroundColorDark;
      border: none;
      color: $textColorBright;
      text-transform: uppercase;
      &:hover {
        background-color: $backgroundColorLight;
      }
      .button {
        padding: 6px 110px 5px 15px;
        display: inline-block;
        color: #ccc;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.08em;
        background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
        background-position: right 10px center;
        white-space: nowrap;
        &:hover {
          color: $textColorBrighter;
          background-color: $backgroundColorLight;
        }
      }
    }
  }

  .menu-bar {
    flex: 0 0 auto;
    background-color: $backgroundColorDarkish;

    &:empty {
      height: 0;
    }

    > div {
      display: flex;
      flex-direction: row;
      padding: 12px;
    }

    .menu {
      margin-right: 10px;
      font-size: 1.2em;
      background-color: $backgroundColorLight;
      border: none;
      color: $textColorBright;
      text-transform: uppercase;
      &:hover {
        color: $textColorBrighter;
        background-color: $backgroundColorLighter;
      }
      .button {
        padding: 6px 15px 5px 32px;
        display: inline-block;
        color: #ccc;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.08em;
        background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
        white-space: nowrap;
        &:hover {
          color: $textColorBrighter;
          background-color: $backgroundColorLighter;
        }
      }

      .buttonProperty {
        display: flex;
        flex-direction: row;
        .delete {
          padding: 6px 6px 6px 26px;
          margin: 5px;
          background: url('assets/images/icons/x-small.png') no-repeat 8px;
          &:hover {
            background-color: $red;
          }
        }
        .buttonLabel {
          padding: 6px 5px 5px 15px;
          display: inline-block;
          color: #ccc;
          line-height: 25px;
          cursor: pointer;
          font-size: 12px;
          letter-spacing: 0.08em;
          white-space: nowrap;
          &:hover {
            color: $textColorBrighter;
            background-color: $backgroundColorLighter;
          }
        }
      }
      .selected {
        color: $textColorBrighter;
        background-color: $backgroundColorLighter;
      }
      &.destination.rtp {
        .button {
          background: url('assets/images/icons/plus-small.png') no-repeat 8px;
        }
      }
    }

    .filter {
      margin-left: 10px;
      font-size: 1.2em;
      background-color: $backgroundColorDark;
      border: none;
      color: $textColorBright;
      text-transform: uppercase;
      &:hover {
        background-color: $backgroundColorLight;
      }
      .button {
        padding: 6px 110px 5px 15px;
        display: inline-block;
        color: #ccc;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.08em;
        background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
        background-position: right 10px center;
        white-space: nowrap;
        &:hover {
          color: $textColorBrighter;
          background-color: $backgroundColorLight;
        }
      }
    }
  }
  .menu-wrapper-flipped {
    transform: rotateX(180deg);
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #2c2c2c;

    .menu-scene {
      flex: 0 0 auto;
      background-color: $backgroundColorDarkish;
      transform: rotateX(180deg);

      &:empty {
        height: 0;
      }

      > div {
        display: flex;
        flex-direction: row;
        padding: 12px 12px 0px 12px;
      }
      .select {
        color: $textColorBrighter;
        height: 47px;
      }
      .menu {
        align-self: flex-start;
        margin-right: 10px;
        font-size: 1.2em;
        background-color: #3b3b3b;
        border: none;
        color: $textColorBright;
        text-transform: uppercase;
        &:hover {
          color: $textColorBrighter;
          background-color: $backgroundColorLighter;
        }

        .buttonProperty {
          display: flex;
          flex-direction: row;
          .delete {
            padding: 6px 6px 6px 26px;
            margin: 5px;
            background: url('assets/images/icons/x-small.png') no-repeat 8px;
            &:hover {
              background-color: $red;
            }
          }
          .active {
            border-radius: 50%;
            width: 15px;
            height: 15px;
            margin-top: 12px;
            margin-left: 10px;
            background-color: $green;
          }
          .inputSceneName {
            width: 150px;
            height: 30px;
            margin-left: 10px;
          }
          .add {
            cursor: pointer;
            padding: 8px 17px 19px 14px;
            margin: 5px;
            background: url('assets/images/icons/plus.png') no-repeat 1px;
          }
          .buttonLabel {
            padding: 6px 15px 5px 25px;
            display: inline-block;
            color: #ccc;
            line-height: 25px;
            cursor: pointer;
            font-size: 12px;
            letter-spacing: 0.08em;
            white-space: nowrap;
            &:hover {
              color: $textColorBrighter;
              background-color: $backgroundColorLighter;
            }
          }
        }
      }

      .filter {
        margin-left: 10px;
        font-size: 1.2em;
        background-color: $backgroundColorDark;
        border: none;
        color: $textColorBright;
        text-transform: uppercase;
        &:hover {
          background-color: $backgroundColorLight;
        }
        .button {
          padding: 6px 110px 5px 15px;
          display: inline-block;
          color: #ccc;
          line-height: 25px;
          cursor: pointer;
          font-size: 12px;
          letter-spacing: 0.08em;
          background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
          background-position: right 10px center;
          white-space: nowrap;
          &:hover {
            color: $textColorBrighter;
            background-color: $backgroundColorLight;
          }
        }
      }
    }
  }
  > div {
    //overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .page-content {
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    h2 {
      font-size: 2em;
      font-weight: 300;
      color: $textColorBrighter;
      border-bottom: 1px solid $textColorSubtle;
      line-height: 2em;
      display: block;
      width: 100%;
      margin-bottom: 1em;
    }

    .menus {
      border-bottom-color: black;

      cursor: move;

    }
  }
}

.activation {
  position: absolute;
  top: 150px;
  left: 30px;
  display:flex;
  flex-direction: row;
  .sceneCheckbox{
    padding-left: 15px;
  }
}

.toggle {
  cursor: pointer;
  z-index: 10;
  height: 36px;
  width: 36px;
  margin-top: 25px;
  &.off{
    opacity: 0.8;
    background: url('assets/images/icons/pin_off.png') no-repeat 3px;
    &:hover {
      background-color: $backgroundColorDarkish;
    }
  }
  &.on{
    opacity: 0.8;
    background: url('assets/images/icons/pin_on.png') no-repeat 3px;
    &:hover {
      background-color: $backgroundColorDarkish;
    }
  }
}
.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid darken($backgroundColorDarker, 5%);
  background-color: darken($backgroundColorDarker, 3%);
  .tabs {
    width: $sideMenuWidth;
    height: 100%;
    display: flex;
    flex-direction: column;

    .tab {
      width: 100%;
      height: $sideMenuWidth;
      flex: 0 0 auto;
      cursor: pointer;
      opacity: 0.5;
      .icon {
        display: block;
        width: $sideMenuWidth;
        height: $sideMenuWidth;
        background-position: center;
        background-repeat: no-repeat;
      }
      &.active {
        opacity: 1;
        border-right: 2px solid $red;
        background-color: $backgroundColorDarker;
      }
      &.spacer {
        flex: 1 1 auto;
      }
    }
  }
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
  transition: background-color 0.5s;
  &.visible {
    background-color: rgba(0,0,0,0.75);
  }
}

.sub-menu {
  position: absolute;
  z-index: 900;
  width: 180px;
  float: left;
  margin-right: 10px;
  @include shadow1;
  border: none;
  color: $textColor;
  text-transform: uppercase;
  .group {
    display: block;
    background: $backgroundColorDarker;
    margin: 0;
    outline: none;
    padding: 1em 1em 1em 1.25em;
    &:not(:last-child) {
      border-bottom: darken($backgroundColorDarker, 2%) 1px solid;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .items {
    padding: 0;
    height: auto;
    .item {
      text-decoration: none;
      position: relative;
      display: block;
      margin: 0;
      color: $textColorBright;
      background: $backgroundColorDark;
      border: 0;
      padding: .85em 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background: $blue;
        color: $textColorDark;
      }
    }
  }
}

.sub-menu-categories {
  position: absolute;
  z-index: 900;
  width: 200px;
  float: left;
  margin-right: 10px;
  @include shadow1;
  border: none;
  color: $textColor;
  text-transform: uppercase;
  .items {
    padding: 0;
    height: auto;
    .item {
      text-decoration: none;
      position: relative;
      display: block;
      margin: 0;
      color: $textColorBright;
      background: $backgroundColorDark;
      border: 0;
      padding: .85em 1.5em;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:1.2em;
      &.state-selected {
        color: $textColorBright;
        background: url('assets/images/icons/check.png') no-repeat 8px, $backgroundColorDark;
      }
      &:hover {
        background: url('assets/images/icons/check.png') no-repeat 8px, $blue;
        color: $textColorDark;
      }
    }
  }
}