.preview.window-panel {
  left: $sidebarWidth + 12px;
  bottom: 12px;
  z-index: 21;

  .content {
    position: relative;
    overflow: hidden;
    .shmdata-preview {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}