.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebarWidth;
  display: flex;
  flex-direction: column;
  padding-top: $headerHeight + 32px;
  background-color: darken($backgroundColorDarker, 3%);
}