.usage {
  flex: 0 0 auto;
}

.system-usage {
  display: flex;
  flex-direction: column;

  color: white;
  .content {
    padding: 5px;
    background-color: darken($backgroundColorDarker, 5%);
  }
  .info {
    text-align: center;
    position: relative;
    width: 100%;
    float: left;
    border-top: 1px solid darken($backgroundColorDarker,5%);
    .label {
      font-size: 10px;
      color: $textColorBright;
      padding-top: 2px;
      padding-bottom: 3px;
    }
  }
  .cpu {
    .bar {
      width: 5px;
      height: 0;
      background: $backgroundColorLight;
      position: absolute;
      bottom: 0;
      @include transform(translate3d(0,0,0)); // HW accelerate by making an identity 3d transform
      @include transition(0.5s);
    }
    .content {
      .bars {
        width: 100%;
        height: 24px;
        position: relative;
      }
    }
  }
  .cpu-warning {
    background: $orange !important;
  }
  .cpu-alert {
    background: $red !important;
  }
  .memory {

  }
  .network {
    font-size: 9px;
    color: $textColorBright;
    .iface {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
      .name {
        background-color: darken($backgroundColorDarker, 2%);
        font-weight: bold;
        padding: 2px;
      }
      .ip {
        background-color: darken($backgroundColorDarker, 3%);
        padding: 2px;
        margin-bottom: 2px;
      }
      .receive, .transfer {
        @include clearfix;
        .lbl {
          color: $textColor;
          float: left;
        }
        .value {
          float: right;
        }
      }
    }
  }
  .total {
    font-size: 14px;
  }
  .text {
    font-size: 10px;
  }
}
