$sourceWidth: 210px;
$destinationWidth: 125px;
$infoWidth: 145px;
$previewWidth: 65px;
$shmdataWidth: $infoWidth + $previewWidth;
$gap: 3px;
$destinationGroupGap: 150px;
$addDestinationGroupWidth: 43px;

$rowHeight: 50px;
$boxWidth: 72px;
$radius: 12px;

.table {

  &.empty {
    .matrix-empty {
      display: flex;
    }

    .matrix {
      display: none;
    }
  }
  .matrix-container {
    display: flex;
    flex-direction: row;
  }
  .matrix-margin {
    position: fixed;
    height: 86%;
    width: 25px;
    background: $backgroundColor;
    z-index: 15;
  }
  .matrix-empty {
    display: none;
    position: absolute;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 3em;
      font-weight: 200;
      line-height: 1.5em;
    }
    .message {
      font-size: 1.5em;
      line-height: 2em;
      margin-bottom: 1em;
    }
    .link {
      color: $blue;
    }
    .buttons {

    }
  }
  .matrix {
    position: relative;
    display: inline-block;
    margin: 0px 25px 25px 25px;

    .dummy {
      display: flex;
      &:not(.nohover):hover {
        cursor: pointer;
        .action {
          background-color: $blue;
          border-color: $textColorDark;
          .label {
            color: $textColorDark;
          }
        }
      }
      .action {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding: 1em;
        background-color: $backgroundColorDark;
        border: 1px dashed $textColor;
        transition: background-color 0.25s, border-color 0.25s;
      }
      .label {
        font-size: 1.25em;
        line-height: 1em;
        color: $textColorBright;
        transition: color 0.25s;
      }
    }
    .content-background{
      display: flex;
      flex-direction: row;
      position: relative;
      background-color: $backgroundColor;
      z-index:13;
    }
    .activation-wrapper-nav{
      position: relative;
      background-color: $backgroundColor;
      z-index:11;
      width: 421px;
    }
    .destinations-wrapper-nav{
      padding-top: 145px;
      position: relative;
      background-color: $backgroundColor;
      z-index:10;
    }
    .destinations-row {
      display: flex;
      position: relative;
      margin-bottom: 1px;
      min-height: 40px;
      margin-left: 0px;
      // margin-left: $sourceWidth + $gap + $shmdataWidth - $addDestinationGroupWidth;

      .destinations {
        &:not(:first-child) {
          .destinations-container {
            margin-left: $destinationGroupGap;
            .group-heading {
              left: 48px;
            }
          }
        }
        .destinations-container {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          &.empty {
            display: none;
          }

          .destination-list-heading {
            position: absolute;
            color: $textColor;
            text-transform: uppercase;
            font-size: 1.25em;
            transform: rotate(-45deg);
            transform-origin: bottom left;
            bottom: 88px;
            padding-left: 10px;
          }

          .destination-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .destination-list-selected {
              display: flex;
              flex-direction: row;
              justify-content: flex-start; 
              //display: inline-block;
            }

              .group-quiddity {

                .group-name {
                  font-size: 1.5em;
                  font-weight: 300;
                  transform: rotateZ(-45deg);
                  background: $backgroundColorDarkish;
                  padding: 0.5em 0.5em;
                  margin-bottom: 1px;
                  position: absolute;
                  border-radius: 0 $radius $radius 0;
                  bottom: 110px;
                  width: 155px;
                  height: 32px;
                  > span {
                    display: block;
                  }
                  input {
                    width :115px;
                    height: 20px;
                    font-size: 1em;
                    margin-top: -3px;
                  }
                  .remove {
                    cursor: default;
                    height: 100%;
                    position: absolute;
                    left: 125px;
                    top: 0;
                    width: 30px;
                    &:hover {
                      border-left: 1px solid $backgroundColorDarker;
                      background-color: $red;
                      border-radius: 0 $radius $radius 0;
                    }
                    .icon {
                      position: absolute;
                      top: 50%;
                      margin-top: -7px;
                      right: 12px;
                      width: 14px;
                      height: 14px;
                      background: url('assets/images/icons/x-small.png') no-repeat;
                    }
                  }
                }
              .bottom-group-name {
                .rectangle {
                  height: 64px;
                  width: 46px;
                  margin-left: -8px;
                  bottom: 1px;
                  position: absolute;
                  background: $backgroundColorDarkish;
                  //border-radius: $radius 0 0 0;
                }
                .triangle {
                  width: 0;
                  height: 0;
                  margin-left: -8px;
                  border-left: 23px solid transparent;
                  border-right: 23px solid transparent;
                  border-bottom: 22px solid $backgroundColorDarkish;
                }
              }
              .group-destinations {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-start; 
                  padding-left: 40px;
                  .destination {
                    &:last-child {
                      margin-right : 10px;
                    }
                  }
                }
                .group-destinations:empty:before {
                    content: '';
                    width: $destinationWidth;
                    height: 45px; 
                    transform: rotateZ(-45deg);
                    position: absolute;
                    margin-left: -40px;
                    transform-origin: top left;
                    border-radius: 0 24px 0px 24px;
                    overflow: hidden;
                    background-color: $backgroundColorDark;
                }
                .group-destinations:empty {
                  height: 65px;
                  width: 60px;
                  margin-right: 12px;
                  margin-left: 40px;
                  background-color: $backgroundColorDark;

                }
              }
          }
        }
        .destination {
          width: 72px;
          background-color: $backgroundColorDark;
          height: 65px;
          margin-left: 1px;
          transition: opacity 0.25s, background-color 0.25s;
          &:hover {
            background-color: rgba($backgroundColorDarker, 0.8);
            .controls {
              &:after {
                border-bottom: $rowHeight solid rgba($backgroundColorDarker, 0.8);
              }
            }
          }

          &.dummy {
            height: 65px;
            .action {
              width: $destinationWidth;
              height: $rowHeight + 1px; // 1px accounts for the 45 degrees angle making it slightly narrower when meeting the vertical part
              transform: rotateZ(-45deg);
              position: absolute;
              transform-origin: top left;
              border-radius: 0 24px 0px 24px;
              overflow: hidden;
            }
          }
          .controls {
            background-color: $backgroundColorDark;
            width: $destinationWidth;
            height: $rowHeight + 1px; // 1px accounts for the 45 degrees angle making it slightly narrower when meeting the vertical part
            transform: rotateZ(-45deg);
            position: absolute;
            transform-origin: top left;
            transition: background-color 0.25s;
            border-radius: 0 24px 0 24px;
            overflow: hidden;

            .info {
              padding: 1em 1em 0 0;
            }

            .actions {
              .action {
                height: 100%;
                .icon {
                  transform: rotate(45deg); // Put the icons back in the right angle
                }
              }
            }
          }

          &.highlighted {
            background-color: $backgroundColorDarker;
            .controls {
              background-color: $backgroundColorDarker;
              &:after {
                border-bottom: $rowHeight solid $backgroundColorDarker;
              }
            }
          }
          &.selectedItem {
            background-color: $backgroundColorDarker;
            .controls {
              background-color: $backgroundColorDarker;
              &:after {
                border-bottom: $rowHeight solid $backgroundColorDarker;
              }
            }
          }
          &.faded {
            //
          }
        }
      }
    }

    .sources-row {
      position: relative;
      .sources {
          .sources-container {
            .noscrollH {
              z-index: 10;
            }
            .noscrollV {
              z-index: 15;
            }
            .source-list-heading {
              font-size: 1.5em;
              font-weight: 300;
              background: $backgroundColorDarkish;
              padding: 1em 0.5em;
              margin-bottom: 1px;
              position: relative;
              border-radius: $radius 0 0 0;
              width: 423px;
              > span {
                display: block;
              }
            }
            .source {
              &:last-child {
                > .controls {
                  border-radius: 0 0 0 12px;
                }
              }
            }
        }

        .source {
          position: relative;
          min-height: $rowHeight;
          margin-bottom: 1px; //0.5em;
          transition: opacity 0.25s, background-color 0.25s;

          &.dummy {
            .action {
              border-radius: $radius 0 $radius $radius;
            }
          }

          .controls {
            position: absolute;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          > .controls {
            width: $sourceWidth;
            background-color: $backgroundColorDark;
          }

          /* Hide SIP when offline or not receiving any shmdata */
          &.sip-source {
            &.offline,
            &.empty {
              display: none;
            }
          }
          &.selectedItem {
            > .controls {
              background-color: $backgroundColorDarker;
            }
          }
          &.highlighted {
            > .controls {
              background-color: $backgroundColorDarker;
            }
          }

          &.faded {
            //opacity: 0.5;
          }

          .source-children {
            min-height: $rowHeight;
            margin-left: $sourceWidth;

            .source-child {
              position: relative;
              border-left: 1px solid $backgroundColor;
              height: $rowHeight;
              .controls {
                display: table;
                width: $sourceWidth;
                height: $rowHeight;

                .info {
                  display: table-cell;
                  vertical-align: middle;
                }
              }

              &:not(:last-child) {
                margin-bottom: 1px;
              }

              .connections {
                display: table;
                height: $rowHeight;
                margin-left: $sourceWidth;
                &.empty {
                  display: none;
                }

                .connection {
                  display: table-cell;
                  border-left: 1px solid $backgroundColor;

                  &.enabled {
                    cursor: pointer;
                    background: $backgroundColorDark;

                    .actions {
                      opacity: 1.0;
                    }

                    .action.disconnect {
                      background-color: $green;
                      //background-color: $backgroundColorDarker;
                      &:hover {
                        background-color: $red;
                        background-image: url('assets/images/icons/x.png');
                          .icon {}
                      }
                      .icon {
                        background-image: url('assets/images/icons/arrow-white.png');
                        //background-image: url('assets/images/icons/arrow-green.png');
                      }
                    }
                    .action.selected {
                      //background-color: $green;
                      &:hover {
                        background-color: $backgroundColorDarker;
                        .icon {}
                      }
                      background: $backgroundColorDarker;
                      .icon {
                        background-image: url('assets/images/icons/arrow-white.png');
                      }
                    }
                    .action.connect {
                      width: 100%;
                      background-color: $backgroundColorDarker;
                      &:hover {
                        cursor: pointer;
                        background-color: $backgroundColorDarker;
                        background-image: url('assets/images/icons/arrow-white.png');
                      }
                    }
                  }

                  &.disabled {
                    .actions:hover {
                      opacity: 0.0;
                      .action {
                        cursor: not-allowed;
                      }
                    }
                    .action.connect {
                      background-color: $disabled;
                    }
                  }

                  /*&.highlighted {
                    background-color: $backgroundColorDark !important;
                    .action {
                      background-color: $backgroundColorDark !important;
                    }
                  }*/

                  .controls {
                    position: relative;
                    width: $boxWidth;
                    height: 100%;
                  }

                  .icon {
                    opacity: 0.65;
                  }
                }
              }

              &.shmdata {
                > .controls {
                  width: $shmdataWidth;
                  .info, .actions {
                    width: $infoWidth;
                  }
                  .info {
                    background-color: $backgroundColorDarkish;
                    /* Override the default name/class style for other table information */
                    .name {
                      font-weight: normal;
                      color: $textColor;
                    }
                  }
                }

                .connections-container {
                  display: flex;
                  flex-direction: row;
                  margin-left: $shmdataWidth;
                  .connections {
                    position: relative;
                    margin-left: 0;
                    &.empty {
                      display: none;
                    }
                    &:not(:first-child) {
                      > div {
                        margin-left: $destinationGroupGap;
                      }
                    }
                    > div {
                      display: table;
                      height: $rowHeight;
                      &.empty {
                        display: none;
                      }
                    }
                  }
                }

                .preview {
                  width: $previewWidth;
                  height: $rowHeight;
                  background-color: $backgroundColorDarker;
                  //margin-left: 1px;
                  .thumbnail {
                    height: 100%;
                    padding-top: 9px;
                  }
                }
                .info-byte-rate {
                  width: $gap;
                  height: 50px;
                  &.active {
                    background-color: $green;
                  }
                  &.deactive {
                    background-color: $red;
                  }
                }
              }
            }
          }

          .source-contacts {
            > .contact {
              &:not(:last-child) {
                margin-bottom: 1px;
              }
              .contact-info {
                background-color: $backgroundColorDark;
                margin-bottom: 1px;
              }
              .shmdatas {
                margin-left: 0;
                .connections-container {
                  .connections {
                    &:not(:first-child) {
                      &:before {
                        background-color: $backgroundColorDark;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .info {
      width: $infoWidth;
      max-width: 130px;
      height: $rowHeight;
      word-break: break-all;
      padding: 1em;
      cursor:default;
      .class, .name {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 5px;
      }
      .class {
        color: $textColor;
        font-size: 1.20em;
      }
      .name {
        font-weight: bold;
        font-size: 1.35em;
        color: $textColorBrighter;
        line-height: 110%;
      }
      &:hover {
        opacity: 0.8;
        background-color: $blue;
      }
      .title {
        margin-top: -7px;
      }
    }

    .spinner {
      width: 70px;
      margin-left: 30px;
      padding-top:5px;
    }

    .spinner > div {
      width: 18px;
      height: 18px;
      background-color: #FFF;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes sk-bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes sk-bouncedelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
    }

    .actions-destination{
      position: absolute;
        .action {
          width:72px;
          height: 68px;
          .icon {
            width: 100%;
            height: 100%;
            background-position: bottom 15px right 25px;
            background-repeat: no-repeat;
          }
          &.more-action {
            &:hover {
              background-color: $orange;
            }
            &.selected {
              background-color: $orange;
            }
            .icon {
              background-image: url('assets/images/icons/more.png');
            } 
        }
       }
     }
    .destination-list-bottom{
      background: $backgroundColorDarkish;
      position: absolute;
      width: 73px;
      height: 42px;
      top: 66px;
    }
    .actions-source{
      z-index:9;
      .action {
        width: 43px;
        height: 100%;

        .icon {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.power {
          &:hover {
            background-color: $green;
            &.on {
              background-color: $red;
              .icon {
                fill: #ffffff;
              }
            }
          }
          .icon {
            padding-top: 11px;
            padding-left: 7px;
            fill: #ffffff;
          }
          &.on {
              .icon {
                fill: $green;
              }
          }

        }
        &.more-action {
          &:hover {
            background-color: $orange;
          }
          &.selected {
            background-color: $orange;
          }
          .icon {
            background-position: top 18px right 11px;
            background-image: url('assets/images/icons/more.png');
          } 
        }
      }
    }

    .actions {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .action {
        float: left;
        width: 100%;
        height: $rowHeight;
        opacity: 0.8;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;

        .icon {
          width: 100%;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
        }
        &.more {
          width: 100%;
          opacity: 0;
          &:hover {
            opacity: 0.8;
            background-color: $blue;
          }
          .icon {

            background-image: url('assets/images/icons/724-info.png');
          }
        }
      }
    }

    .actions-menu {
      position: absolute;
      z-index: 900;
      width: 100px;
      float: left;
      margin-right: 5px;
      @include shadow1;
      border: none;
      color: $textColor;
      text-transform: uppercase;
      &.sourceMenu { 
        left: $sourceWidth;
        top:0px;
      }
      &.destinationMenu { 
        top: 65px;
      }
      .items {
        padding: 0;
        margin:0;
        height: auto;
        .item {
          text-decoration: none;
          display: block;
          margin: 0;
          color: $textColorBright;
          background: $backgroundColorDarker;
          border: 0;
          padding: 1.2em 1.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            background: $blue;
            color: $textColorDark;
          }
          &.disabled {
            background: $backgroundColorLighter;
            color: $textColorDark;
          }
        }
      }
    }
  }

  // SIP

  & .sip.destination {
    .actions {
      .action {
        &.call {
          &:hover {
            background-color: $blue;
          }
          .icon {
            background: url('assets/images/icons/735-phone.png') center center no-repeat;
          }
        }
        &.hangup {
          &:hover {
            background-color: $blue;
          }
          .icon {
            background: url('assets/images/icons/hang-up.png') center center no-repeat;
          }
        }
      }
    }

    &.connected .actions .action.call,
    &.disconnected .actions .action.hangup {
      display: none;
    }

    &.disconnected {
      border-bottom: 2px solid $red;
    }

    &.connected {
      border-bottom: 2px solid $green;
    }
  }

  // RTP

  & .rtp {
    .connection {
      .port {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: table;
        > span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 2em;
          color: $textColorBrighter;
        }
      }
      .portEntry {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $backgroundColorDark;
        .portInput {
          background: none;
          border: none;
          color: $textColorBrighter;
          border-radius: 0;
          margin: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 2em;
        }
      }
    }
  }



  // CONTROL
  &.control {
    .bar-container {
      position: absolute;
      width: $sourceWidth;
      height: $rowHeight;
      z-index: 0;
      .bar {
        width: 0;
        height: 100%;
        background-color: $blue;
      }
    }
    .matrix {
      .destinations-row {
        // No shmdata in this screen so smaller margin
        margin-left: $sourceWidth + 3px + $shmdataWidth !important;
      }
      .control-property {
        > .controls {
          background: $backgroundColorDarkish;
          .info {
            @include text-shadow(1px 1px rgba(0, 0, 0, 0.25));
            position: relative;
            z-index: 1;
            .property-name {
              font-weight: bold;
              display: block;
              color: $textColorBrighter;
            }
            .property-value {
              display: block;
              color: $textColorBright;
            }
          }
        }
      }
    }
    .connections {
      .connection {
        .controls {
          .action {
            .icon {
              background-size: 100%;
            }
          }
        }
      }
    }
  }

  &.propertiesPage {
    .properties-quiddity {

      /* Then we define how is distributed the remaining space */
      justify-content: space-around;
      .data-container {
        overflow: auto;
        flex: 1 1;
        display: flex;
        flex-direction: column;
      }
      .classInfo {
        z-index: 10;
        width:400px;
        height: 140px;
        padding: 1em;
        display: flex;
        flex: 0 0;
        flex-direction: column;
        justify-content: space-around;
        .className {
          float: left;
          font-size: 3em;
          line-height: 1em;
          font-weight: 100;
          color: $textColorBright;
        }
        .classCategory {
          float: right;
          line-height: 3em;
          font-style: italic;
        }
        .classDescription {
          font-size: 1.25em;
          font-weight: 300;
          clear: both;
          padding-top: 0.5em;
        }
      }
      .properties, .methods {
        @include clearfix;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        flex: 1;
      }

      .group {
        display: flex;
        flex-basis: 700px;
        flex-direction: column;
        padding: 1em 1em 0 1em;
        .group-header {
          @include border-radius(5px 5px 5px 5px);
          background-color: $backgroundColorDark;
          padding-left:35px;
          cursor: pointer;
          font-size: 1.5em;
          line-height: 2em;
          margin-bottom: 0.75em;
          width:530px;
        }
        .properties {
          overflow: hidden;
          background-color: $backgroundColorDarker;
          @include border-radius(5px 5px 5px 5px);
          width: 600px;
        }
        &.expanded {
          .group-header {
            background-image: url('assets/images/icons/arrow-up-small.png');
            background-position: 10px;
            background-repeat: no-repeat;
          }
          .properties {
            display: block;
          }
        }
        &.collapsed {
          .group-header {
            background-image: url('assets/images/icons/arrow-down-small.png');
            background-position: 10px;
            background-repeat: no-repeat;
          }
          .properties {
            display: none;
          }
        }
        .disabled > & {
          opacity: 0.5;
        }
      }

      .property-form,
      .method {
        padding: 1em;
        &.disabled {
          opacity: 0.5;
        }
      }
      .property-started {
        width: 225px;
        margin-top : 1em;
        margin-right : 4em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .property-form,
      .method {
        display: flex;
        flex-basis: 700px;
        flex-direction: column;
        justify-content: space-between;
        @include clearfix;
        label {
          font-size: 1.25em;
        }
        .description {
          margin-bottom: 0.5em;
          color: $textColorBright;
        }

        &.bool {
          .info {
            float: left;
            margin-top: 4px;
          }
          .field {
            margin-top: 3px;
          }
        }

        &.number, &.fraction {
          .info {
            float: left;
            margin-top: 4px;
          }
          .field {
            margin-top: 3px;
          }
          .ui-slider {
            width: 400px;
            @include border-radius(5px 0 0 5px);
            .ui-slider-range {
              @include border-radius(5px 0 0 5px);
            }
          }
          input {
            float: left;
            width: 130px;
            border-left: 1px solid $backgroundColorDarker;
            text-align: center;
            @include border-radius(0 5px 5px 0);
            &:focus {
              border: lighten($backgroundColorDark, 15%) solid 1px;
            }
          }
        }
        &.select {
          .info {
            float: left;
            margin-top: 4px;
          }
          .field {
            margin-top: 3px;
            width: auto;
            max-width: 530px;
          }
          .ui-selectmenu-button {
            height: 24px;
            font-size: 1.5em;
            background-color: $backgroundColorDarkish;
            &.ui-corner-all {
              @include border-radius(5px);
            }
            &.ui-corner-top {
              @include border-radius(5px 5px 0 0);
            }
            &:focus {
              border: lighten($backgroundColorDark, 15%) solid 1px;
            }
            span.ui-selectmenu-text {
              padding: 0;
              position: absolute;
              top: 50%;
              margin-top: -10px;
            }
            span.ui-icon {
              top: 50%;
              margin-top: -3px;
            }
            .ui-icon-triangle-1-s {
              width: 23px;
              height: 7px;
              background: url('assets/images/icons/arrow-down-small.png') no-repeat 8px;
            }
          }
        }

        &.fraction {
          .field {
            position: relative;
            height: 5em;
            .numerator {
              width: 45%;
              top: 0;
              left: 0;
              position: absolute;
            }
            .over {
              font-weight: 100;
              font-size: 6em;
              line-height: 0.75em;
              text-align: center;
            }
            .denominator {
              width: 45%;
              right: 0;
              bottom: 0;
              position: absolute;
            }
          }
        }

        &.string {
          input {
            float: left;
            width: 400px;
            border-right: 1px solid $backgroundColorDarker;
            @include border-radius(5px 0 0 5px);
            &:focus {
              border: lighten($backgroundColorDark, 15%) solid 1px;
            }
          }
          .btn {
            margin: 0;
            float: left;
            width: 130px;
            padding: 4px;
            height: 24px;
            @include border-radius(0 5px 5px 0);
          }
          &.readonly {
            input {
              width: 100%;
              @include border-radius(5px);
            }
          }
        }

        &.color {
          input {
            float: left;
            width: 105px;
            height:28px;
            border-right: 1px solid $backgroundColorDarker;
            @include border-radius(5px 5px 5px 5px);
            &:focus {
              border: lighten($backgroundColorDark, 15%) solid 1px;
            }
          }
          .btn {
            margin: 0;
            float: left;
            width: 35%;
            padding: 4px;
            height: 24px;
            @include border-radius(0 5px 5px 0);
          }
          &.readonly {
            input {
              width: 100%;
              @include border-radius(5px);
            }
          }
          .minicolors-panel {
            position: relative;
            top: 30px;
            margin-bottom: 30px;
            background: $backgroundColorDarker;
            border: solid 1px $backgroundColorDarker;
          }
          .minicolors-theme-default .minicolors-swatch {
            top: 5px;
            left: 5px;
            width: 18px;
            height: 18px;
          }

          .minicolors-theme-default.minicolors-position-right .minicolors-swatch {
            left: auto;
            right: 5px;
          }
        }


        input {
          height: 24px;
          margin: 0;
        }
      }
    }
  }
}