.sidebar > .tabs {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;

  .tab {
    position: relative;
    width: 100%;
    height: 65px;
    border: none;
    float: right;
    opacity: 0.8;
    color: $textColorBright;
    padding-left: 1px;
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      height: 100%;
      .icon {
        opacity: 0.5;
        width: 28px;
        height: 28px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &.matrix .content .icon {
      background-image: url('assets/images/icons/connection-tab.png');
    }
    &.switchScenes .content .icon {
      background-image: url('assets/images/icons/1056-org-chart@2x.png');
    }
    &.control .content .icon {
      background-image: url('assets/images/icons/control-tab.png');
    }
    &.settings .content .icon {
      background-image: url('assets/images/icons/740-gear@2x.png');
    }
    &.help .content .icon {
      background-image: url('assets/images/icons/739-question@2x.png');
    }
    &.advanced .content .icon {
      background-image: url('assets/images/icons/742-wrench@2x.png');
    }
    &.properties .content .icon {
      background-image: url('assets/images/icons/1060-switches@2x.png');
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
      color: $textColorBrighter;
      .content .icon {
        opacity: 0.75;
      }
    }
    &.active {
      opacity: 1;
      color: $textColorBrighter;
      background: $backgroundColor;
      border-left: 2px solid $red;
      padding-left: 0;
      .content .icon {
        opacity: 1;
      }

      &.matrix .content .icon {
        background-image: url('assets/images/icons/connection-tab.png');
      }
      &.switchScenes .content .icon {
        background-image: url('assets/images/icons/1056-org-chart-selected@2x.png');
      }
      &.control .content .icon {
        background-image: url('assets/images/icons/control-tab-selected.png');
      }
      &.settings .content .icon {
        background-image: url('assets/images/icons/740-gear-selected@2x.png');
      }
      &.help .content .icon {
        background-image: url('assets/images/icons/739-question-selected@2x.png');
      }
      &.advanced .content .icon {
        background-image: url('assets/images/icons/742-wrench-selected@2x.png');
      }
      &.properties .content .icon {
        background-image: url('assets/images/icons/1060-switches-selected@2x.png');
      }
    }
    .name {
      font-size: 10px;
    }
    &:hover .name {
      opacity: 1;
      display: block;
    }
  }
}
