.window-panel {
  display: none;
  background: $backgroundColorDarker;
  color: $textColor;
  position: absolute; // Was fixed
  overflow: hidden;
  @include border-radius(6px);
  @include box-shadow(rgba(black, 0.5) 0px 0px 26px -8px);

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .title {
    flex: 0 0 auto;
    color: $textColorBrighter;
    font-size: 1.4em;
    padding: 0 5px 0 20px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    background: $backgroundColorDarkish;
    cursor: move;
  }

  .content {
    flex: 1 1 auto;
    line-height: 1.4em;
  }

  .close {
    background: $backgroundColor;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    float: right;
    color: $textColorBrighter;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    &:hover {
      background: $red;
    }
  }
}