@import "~compass-mixins/lib/compass/typography/vertical_rhythm";

* {
  box-sizing: border-box;
  outline: none;
}

@include establish-baseline;

html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: $font-family;
  color: $textColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background: $backgroundColor;
  height: 100%;
  overflow: hidden;

  position: fixed; // Was fixed
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  cursor: default;

}

h1 {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  color: $textColorBrighter;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  //margin-bottom: 0.5em;
  color: $textColorBrighter;
}

h3 {
  font-size: 1.4em;
  padding-bottom: 5px;
  margin: 10px 0;
  color: $textColor;
  &:hover {
    cursor: help;
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: $backgroundColorDark;
}

::-webkit-scrollbar-thumb {
  background: #999;
}