$font-family: "Exo 2", "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
$base-font-size: 10px;
$base-line-height: 12px;

$sessionsHeight: 0px; //MULTISESSION: 24px;
$headerHeight: 60px;
$sidebarWidth: 70px;

$inspectorWidth: 300px;
$sideMenuWidth: 48px;

$scenicColor: #ec1c24;

$backgroundColor: #3b3b3b;
$backgroundColorLighter: lighten($backgroundColor, 16%);
$backgroundColorLight: lighten($backgroundColor, 6%);
$backgroundColorDark: darken($backgroundColor, 3%);
$backgroundColorDarkish: darken($backgroundColor, 6%);
$backgroundColorDarker: darken($backgroundColor, 10%);

$textColor: desaturate(lighten($backgroundColor, 25%), 10% );
$textColorBrighter: lighten($textColor, 34%);
$textColorBright: lighten($textColor, 14%);
$textColorSubtleInsp: darken($textColor, 11%);
$textColorSubtle: darken($textColor, 21%);
$textColorSubtler: darken($textColor, 41%);
$textColorDark: darken($textColor, 54%);

$disabled: darken($backgroundColor, 2%);
$active: $backgroundColorDarker;

$red: $scenicColor; //#bd362f;//$satColor;
$orange: #FF9800; //#f89406;//orange;
$yellow: #FFC107; //#f8d64c;
$green: #8BC34A; //#8cc747;//#51a351;//#01b101;
$blue: #03A9F4; //#2f96b4;//#1f9cff;

@mixin shadow1 {
  @include box-shadow(rgba(black, 0.25) 0px 0px 24px);
  @include box-shadow(rgba(black, 0.5) 0px 0px 6px);
}